:root {
  --button5-colour: #dfdfdf;
  --button5-icon-invert: 1;
}

[data-theme="dark"] {
  --button5-colour: #dfdfdf;
  --button5-icon-invert: 1;
}

[data-theme="light"] {
  --button5-colour: #1a1a1a;
  --button5-icon-invert: 0;
}

.button5 {
  --external-link: url(../../assets/external-link.svg);
  --border-radius: 8px;
  --transition-duration: 0.1s;
  --transition-timing-function: ease-in-out;

  color: white;
  position: relative;
  border: none;
  border-radius: var(--border-radius);
  padding: 0.6em 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inter;
  cursor: pointer;

  overflow: hidden;

  background-color: transparent;
  color: var(--button5-colour);
  text-wrap: nowrap;

  gap: 0.2em;
}
.button5 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: left var(--transition-duration) var(--transition-timing-function);
}
.button5 img {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1em;
  height: 1em;
  transition: top var(--transition-duration) var(--transition-timing-function);

  filter: invert(var(--button5-icon-invert));
}
.button5:hover span {
  left: -50%;
}
.button5:hover img {
  top: 50%;
}
.button5:active img {
  top: 55%;
}
