.button1 {
  --border-radius: 8px;
  color: white;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inter;
  background-color: #1a1a1a;
  cursor: pointer;

  transition: transform 0.2s;
}
.button1:hover {
  transform: scale(1.05);
}
.button1:active {
  transform: scale(1);
}
