.button4 {
  --border-radius: 8px;
  --lift: 4px;

  color: white;
  position: relative;
  border: none;
  border-radius: var(--border-radius);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inter;
  cursor: pointer;

  background-color: #1a1a1a;

  box-shadow: 0 var(--lift) 0 #000;
  transition:
    transform 0.15s ease-out,
    box-shadow 0.2s ease-in-out; /* cant explain why exactly but shadow look better when it lags behind a bit */
}

[data-theme="light"] .button4:active,
.button4:active {
  box-shadow: none;
  transform: translateY(var(--lift));
}

[data-theme="light"] .button4 {
  box-shadow: 0 var(--lift) 0 #817f7f;
}
