.button8 {
  /* width: 100px; */
  /* height: 100px; */
  color: white;

  font-size: 1em;
  font-weight: 500;
  font-family: inter;
  aspect-ratio: 1/1;
  max-height: unset;
  position: relative;
  background-color: #1a1a1a;
  /* padding: 0; */
  padding: 0.6em 1.2em;
  --border-thickness: 4;
  border-radius: calc(var(--border-thickness) * 1rem);
  color: white;
  z-index: 0;
  backdrop-filter: blur(10px);
  cursor: pointer;
  border: 1px solid transparent;

  transition: font-size 0.15s;

  /* background-color: transparent; */
}

/* border */
.button8::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: calc(var(--border-thickness) * 1px);
  border-radius: inherit;
  background: linear-gradient(gray, black, gray);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  z-index: -2;
}

/* button background */
.button8::after {
  content: "";
  position: absolute;
  inset: calc(var(--border-thickness) * 1px);

  /* innter radius | rem - px value */
  border-radius: calc(
    calc(var(--border-thickness) * 1rem) - calc(var(--border-thickness) * 1px)
  );
  background: black;
  z-index: -1;
  opacity: 0.3;
}
/* .button8:hover {
} */
.button8:active {
  font-size: 0.9em;
}
.button8:active::before {
  background: linear-gradient(gray, black 45%, black 55%, gray);
}
