.button8 {
  --border-radius: 8px;

  color: white;
  position: relative;
  border: none;
  border-radius: var(--border-radius);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inter;
  cursor: pointer;

  background-color: #1a1a1a;
}
