.button3 {
  --border-radius: 8px;

  color: white;
  border: 1px solid rgb(10, 10, 10);
  border-radius: var(--border-radius);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inter;
  cursor: pointer;

  overflow: hidden;
  position: relative;

  background-color: #1a1a1a;
  box-shadow:
    inset 0 1px #525252,
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);

  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.button3::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
}
.button3:hover {
  background-color: rgb(20, 20, 20);
}
.button3:active {
  background-color: rgb(15, 15, 15);
  color: rgba(255, 255, 255, 0.8);
  box-shadow:
    inset 0 1px #262626,
    0 0 #0000;
}
